<body>

    <div class="d-flex flex-column justify-content-between bg-white border-end p-3"
        style="width:260px; min-height:100vh; position:fixed;">
        <div>
            <div class="d-flex align-items-center mb-4">
                <i class="bi bi-buildings fs-3 me-2 text-dark"></i>
                <div>
                    <div class="fw-bold text-dark">ComuniRed</div>
                    <small class="text-muted">Administración</small>
                </div>
            </div>
            <nav class="nav flex-column">
                <a routerLink="login" class="nav-link text-dark"> <i class="bi bi-person-lines-fill me-2"></i>Login</a>

                <a routerLink="panel de control" class="nav-link text-dark"><i
                        class="bi bi-grid me-2 text-dark"></i>Panel de Control</a>

                <a routerLink="reservas" class="nav-link text-dark"><i
                        class="bi bi-calendar-event me-2 text-dark"></i>Reservas</a>

                <a routerLink="incidencias" class="nav-link text-dark"><i
                        class="bi bi-exclamation-circle me-2 text-dark"></i>Incidencias</a>

                <a routerLink="comunicaciones" class="nav-link text-dark"><i
                        class="bi bi-megaphone me-2 text-dark"></i>Comunicaciones</a>

                <a routerLink="pagos" class="nav-link text-dark"><i
                        class="bi bi-credit-card me-2 text-dark"></i>Pagos</a>
            </nav>
        </div>


    </div>



</body>